 {{>header   active_browse=true}}
<main class="background">
  <!-- Search Bar -->
    <div class="container col s8">
      <div class="row">
        <h2 class="center">Most Recent Reviews</h2>
      </div>

      <!-- Beginning of Books being generated -->
<div class="row">
  <div class="col s12 m12">
    <div class="row">

      {{#each Reviews}}
        <div class="col s12 m3">
            <div class="card small">
              <div class="card-content">
                <span class="card-title">{{this.title}}</span>
                <p class="authorStyle">By {{this.authorName}}</p>
                <br>
                <p>"{{this.review}}"</p>
              </div>
              <div class="card-action">
                <a href="/profile/{{this.UserId}}" >By {{this.name}} on {{this.createdAt}}</a>
              </div>
            </div>
          </div>
{{/each}}
      </div>
  </div>
</div>

      </div>
</main>